@import './variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  background-color: $header_background;
  padding: 30px 20px;
}

.header__button {
  margin-right: 30px;
  cursor: pointer;
  color: $header_button;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  background: transparent;

  &:hover {
    text-decoration: underline;
    background: transparent;
    box-shadow: none;
    color: $header_button_hover;
    transition: color 250ms ease-out, text-decoration 350ms ease-out;
  }
}

.header__button--main {
  font-size: 40px;
  font-weight: 900;
  color: $header_headline;

  &:hover {
    text-decoration: none;
    color: $header_headline_hover;
  }
}

.header__section--right {
  display: flex;
}
