@import './variables.scss';

body {
  margin: 0 !important ;
}

.main-wrapper {
  padding: 20px;
}

table {
  border: 1px solid black;
  box-sizing: border-box;
}

thead {
  color: black;
  font-style: bold;
  font-size: 18px;
}

th {
  padding-right: 25px;
}

tr {
  border-bottom: 1px solid black;
}

td {
  font-size: 15px;
  line-height: 28px;
  padding: 7px;
}

a {
  border: 1px solid black;
  border-radius: 6px;
  text-decoration: none;
  color: blue;
  padding: 2px 6px;
  box-sizing: border-box;

  &:visited {
    color: blue;
  }

  &:hover {
    text-decoration: none !important;
    background-color: gray !important;
    color: white !important;
  }
}

.field {
  margin: 30px 0;

  label {
    display: block;
  }
}

.actions {
  margin: 50px 0;
  margin-bottom: 25px !important;
}

#notice {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 7 15px;
  width: fit-content;
  background-color: $notice_gray_background;
}

#error_explanation {
  background-color: $error_red_background;
  width: fit-content;
  padding: 7px 20px;
  border-radius: 8px;

  h2 {
    font-size: 18px;
  }
}
