@import './variables.scss';

body {
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: $background;
}

h1 {
  color: $title_color;
}

p {
  margin: 10px;
  padding: 5px;
  font-size: 17px;
  color: $text;
}

p:last-of-type {
  margin-bottom: 25px;
}

.main-wrapper {
  padding: 10px;
  margin: 10px;
}

table {
  border-collapse: collapse;
  border: 2px solid $borders;
  border-radius: 6px;
  background-color: $table_body;
  text-align: left;
}

thead {
  background-color: $table_header;
  border: 2px solid $borders;
}

th {
  padding: 10px 15px;
  font-size: 20px;
  color: $borders;
}

td {
  font-size: 15px;
  line-height: 28px;
  padding: 8px 10px;
}

a {
  border: 1px solid $borders;
  border-radius: 6px;
  text-decoration: none;
  background-color: $button_background;
  color: $text;
  padding: 2px 6px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px;

  &:hover {
    text-decoration: none;
    background-color: $button_hover;
    color: $button_hover_color;
    transition: color 250ms ease-out, shadow 300ms ease-out;
    box-shadow: 0px 1px 4px $borders;
  }
}
.add-button {
  font-size: 20px;
  color: $text;
  background-color: $add_button_background;
  border: 2px solid $borders;
  padding: 7px;
  margin-right: 5px;

  &:hover {
    background-color: $add_button_background_hover;
  }
}

.field {
  margin: 30px 0;

  label {
    display: block;
    color: $text;
    font-size: 17px;
    padding: 2px;
  }

  input {
    width: 300px;
    font-size: 20px;
    padding: 2px;
  }

  input[type=checkbox] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    margin: 15px 10px;
    width: auto;
  }

  select {
    width: 300px;
    font-size: 20px; 
  }
}

input[type=submit] {
  background-color: $add_button_background;
  color: $text;
  font-size: 20px;
  padding: 7px;
  margin-right: 5px;
  border: 2px solid $borders;
  border-radius: 8px;
  margin-bottom: 20px;

  &:hover {
    text-decoration: none;
    background-color: $button_hover;
    color: $button_hover_color;
    transition: color 250ms ease-out, shadow 300ms ease-out;
    box-shadow: 0px 1px 4px $borders;
  }
}

.actions {
  margin: 50px 0;
  margin-bottom: 25px;
}

#notice {
  color: $notice_color;
  font-size: 17px;
  border: 3px solid $notice_border;
  border-radius: 8px;
  padding: 7px 20px;
  width: fit-content;
  background-color: $notice_background;
  font-weight: 700;
}

.field_with_errors {
  padding: 2px;
  background-color: $error_background;
  display: table;
}

#error_explanation {
  background-color: $error_background;
  width: fit-content;
  padding: 7px 20px;
  border-radius: 8px;
  width: 450px;
  border: 3px solid $error_header;
  padding: 7px 7px 0;
  margin-bottom: 20px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: 700;
  padding: 5px 5px 5px 15px;
  font-size: 20px;
  margin: -7px -7px 0;
  background-color: $error_header;
  color: $error_header_text;
}

#error_explanation ul li {
  font-size: 17px;
  list-style: square;
}
