$background: #fafafa;

$header_background: #264653;
$header_headline: #e9c46a;
$header_headline_hover: #bfa157;
$header_button: #f1d9a0;
$header_button_hover: #e9c46a;

$title_color: #395662;
$text: #192d35;

$table_header: #c4e4e0;
$table_body: #f5f5f5;
$borders: #1c333d;
$book_borrowed: #f5d0c7;

$notice_border: #278f82;
$notice_color: #17564e;
$notice_background: #d8edea;

$error_background: #f4bdaf;
$error_header: #be5b43;
$error_header_text: #f5f5f5;

$button_hover_color: #f5f5f5;
$button_background: #c4e4e0;
$button_hover: #3da599;

$search_button_background: #c9d0d4;
$search_button_background_hover: #395662;
$add_button_background: #c9d0d4;
$add_button_background_hover: #395662;
