$background: #fafafa;
$error_red_background: #d79da0;
$borders: #152e44;
$navy_blue: #26547c;
$header_background: #26547c;
$header_button: #ffeeC7;
$header_button_hover: #ffdd8f;
$header_headline: #ffdd8f;
$header_headline_hover: #ffeec7;
$title_color: #26547c;
$table_header: #FFF2D5;
$table_body: #F3F8F9;

$button_background: #FFF2D5;
$button_hover: #26547c;
$button_shadow: #26547c;


$error_background: #cc000052;
$error_header: #c00;
$error_header_text: #fff;

$text: #000;

$notice_border: #f3f8f9;
$notice_color: #26547c;
$notice_background: #f3f8f9;

$add_button_background: #f3f8f9;